*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

h1{
    font-size: 80px;
}
span{
    color: #ffba30;
}
/* Navigation Bar */
nav{
    background-color: rgba(0, 0, 0, 0.158);
    border: 2px solid black;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px;
    position: absolute;
    top: 55px;
    left: 18%;
  }
  li{
    display: inline-block;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 50px;
}

.header{
    background-color: #ffba30;
    padding: 40px;
}

#img{
    background-color: black;
    opacity: 0.8;
  }

  /* Banner */
  .topleft {
      position: absolute;
      top: 0;
      left: 16px;
  }
  .center{
    text-align: center;
      position: absolute;
      top: 73%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      color: white;
  }

  /* What We Do */
  .construction-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.construction{
    flex: 1;
    text-align: center;
    padding: 50px 30px;
    background-color:black;
    color: white;
    max-width: 33%;
    
}
#painting{
    flex: 1;
    text-align: center;
    padding: 50px 30px;
    background-color: #ffba30;
    color: white;
    max-width: 34%;
}


#text-color{
    color: black;
    font-size: bold;
}
.construction .fas{
    border: 1px solid #ffba30;
    border-radius: 50%;
    width: 60px; 
    height: 60px;
    background-color: #ffba30;
    color: black;
    line-height: 58px;
    margin: 10px 0;
    font-size: 30px;
}
#painting .fas{
    border: 1px solid black;
    border-radius: 50%;
    width: 60px; 
    height: 60px;
    background-color: black;
    color: #ffba30;
    line-height: 58px;
    margin: 10px 0;
    font-size: 30px;
}

/* Social Media Icons */
.social_icon{
    width: 40px;
    height: 40;
    display: inline-block;
    text-align: center;
    position: fixed;
    top: 300px;
    right: 0;
    cursor: pointer;
}
#linkedin-icon{
    background-color: #0077B5;
    color: white;
}
#facebook-icon{
    background-color: #395598;
}
#twitter-icon{
    background-color: #1cb7eb;
}
#instagram-icon{
    background-color: #eb4e6d;
}
 .fab{
    color: white;
  }


/* Help Center */
.help_center{
    background-color: black;
    color: white;
    width: 25%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    bottom: -240px;
    right: 0;
    transition: .5s;
}
form{
    padding: 0 30px;
}
.help_center:hover{
    bottom: 0;
}
.help-center-head{
    background-color: black;
    padding: 13px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
}

#textarea{
    border: white;
    background-color: white;
}

#submit-btn{
    background-color: #ffba30;
    color: black;
    padding: 3px 15px;
    border-radius: 7px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: bold;
}
#submit-btn:hover{
    background-color: white;
    color:#ffba30;
}


/* Ratings */
.container-ratings{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 110vh;   
}
.ratings-heading{
    grid-column: span 2;
    padding-top: 60px;
    text-align: center;
}
.shadow{
    background-color: white;
    padding: 10px;
    margin: 10px; 
    text-align: center; 
}

.img{
    float: left;
    
}
.tote{
    text-align: center;
}

.shadow{
    box-shadow: 2px 2px;
}

.fa-star{
    color: #ffba30;
}

/* Loader */
.loader-container{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 20px;
}
.loader{
    color: white;
    border: 16px solid white;
    border-radius: 50%;
    border-top: 16px solid #ffba30;
    width: 170px;
    height: 170px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
}

/* Footer */
.footer{
    text-align: center;
    background-color: #ffba30;
    color: white;
    border: 3px solid #ffba30;
}
.footer:hover{
    background-color: black;
}
.footer-icons .fab{
    background-color: white;
    color: black;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
}
.footer-icons .fab:hover{
    background-color: #ffba30;
    color: white;
}

/* Contact Us banner */
    #contact-us-banner{
        opacity: 0.7;
    }
    .center-contact{
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: black;
    }

    /* Buttons */
    button{
     background-color: #ffba30;
     color: black;
     padding: 8px 25px;
    cursor: pointer;
    }


    /* Modal Content BoxL LOGIN FORM */
    .modal{
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding-top: 60px;
    }
    .modal-content {
        background-color: white;
        margin: 5% auto 15% auto;
        border: 1px solid black;
        width: 40%;
    }
    .input{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid black;
        box-sizing: border-box;
    }

    .img-container{
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    }
    .avatar{
        width: 40%;
        border-radius: 50%;
    }
    .container-contact{
        padding: 16px;
    }
    .psw{
        float: right;
        padding-top: 16px 0;
    }

    /* Close Button */
.close{
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.close:hover{
    color: #ffba30;
    cursor: pointer;
}

.cancelbtn{
    width: auto;
    padding: 10px 18px;
    background-color: #ffba30;
}

.login-btn{
    background-color: black;
    color: white;
    padding: 14px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
   
    /* Sign UP form */
.input-text{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
}

.input-text:focus{
    outline: none;
    background-color: none;
}

.modal-2{
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 60px;
}

.modal-content-2{
    background-color: white;
    margin: 5% auto 15% auto;
    border: 1px solid black;
    width: 40%;

}
.container-contact-2{
    padding: 16px;
}

.closeX{
    position: absolute;
    right: 400px;
    top: 120px;
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.closeX:hover{
    color: #ffba30;
    cursor: pointer;
}


/* Buttons */
.btn1{
    background-color: #ffba30;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    float: left;
}
.btn2{
    background-color: black;
    color: #ffba30;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}
.hr{
    border: 1px solid #f1f1f1;
    margin-top: 25px;
    margin-bottom: 25px;
}


/* Contact Us Page */
.container-login{
    padding: 70px;
    background-color:#ffba30;
    text-align: center;
    position: absolute;
    top: 240px;
    right: 150px;
}
.input-login{
        padding: 8px;
        margin: 10px;
        border: none;
        box-sizing: border-box;
        width: 340px;
}
.input-login.input-login{
    outline: none;
    background-color: none;
}
.textarea{
    margin: 10px;
    padding: 15px 8px;
    border: none;
}
.textarea:focus{
    outline: none;
    background-color: none;
}

/* Left side boxes */
.contact-us{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 30%;
    position: absolute;
    top: 277px;
    left: 170px;
}

.container-login h1{
    font-size: 60px;
}

.location{
    background-color: black;
    color: white;
    margin: 5px;
    padding: 30px 15px;
    text-align: center;
}

.h3{
    font-size: 15px;
    padding: 10px 0;
}

/* icons in sign up page */
.fa-map-marker-alt{
    font-size: 30px;
    color:#ffba30;
}

.fa-phone-alt{
    font-size: 30px;
    color:#ffba30;
}

.fa-envelope{
    font-size: 30px;
    color:#ffba30;
}

.fa-fax{
    font-size: 30px;
    color:#ffba30;
}
/* Modal in Contact Us page */
.myModal{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 60px;
}
.container-modal{
    background-color: white;
    width: 25%;
    padding: 60px 30px;
    margin: 5% auto 15% auto;
    border: 1px solid black;
    text-align: center;
}
.fa-check-circle{
    font-size: 65px;
    padding-bottom: 25px;
    color: #ffba30;
}

/* ABOUT US PAGE */
.container-about-us{
    background-image: radial-gradient(circle, black, #ffba30);
    width: 100%;
    height: 100vh;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.move-right{
    flex: 1;
    display: flex;
    justify-content: center;
}

.move-right h1{
    color: white;
}
    
.move-left{
    flex: 1;
}

.move-left p{
    color: white;
}

    .about-gallery{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .images{
        width: 11%;
        padding: 10px 0 20px;
        margin: 15px;
        background-color: black;
        color: white;
        text-align: center;
        border: 1px solid black;
    }

    hr{
        margin-bottom: 5px;
    }

    .h1{
        font-size: 50px;
        text-align: center;
        padding: 20px;
    }